@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;}
body{
    width: 100vw;
    overflow: hidden;
}

.higher-header{
    display: none;
}

header {
    background-color:  #00669F;
    color: #fff;
    font-size: 2rem;
    text-indent: 1rem;
    line-height: 5rem;
    position: sticky;
    top: 0;
}

.register{
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin: 25vh auto;
}

.register .title{
    font-size: 3rem;
    margin-bottom: 30px;

}

.name-input, .email-input, .password-input, #country{
    border: #000 solid 1.5px;
    border-radius: 50px;
    font-size: 1.2rem;
    height: 3.5rem;
    margin-bottom: 20px;
    padding-left: 30px;
}

.register .buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.register .buttons .button-submit, .button-reset{
    border: 0;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: 700;
    height: 3rem;
    margin-bottom: 1.5rem;
    width: 50%;
}

.register .buttons .button-submit{
    background-color: #1CD1B0;
    
}
.register .buttons .button-reset{
    background-color: #888888;
    color: #fff;

}

.register .login{
    text-align: center;
    
}
.register .login .login-link{
    color: #00669F;
}



footer{
    position: fixed;
    background-color: #00669F;
    bottom: 0;
    color: #FFF9F9;
    font-size: 1.2rem;
    left: 0;
    line-height: 3rem;
    right: 0;
    text-align: center;
}

