@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');


*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
}

.higher-header{
    /* height: 30px; */
    background-color: #1CD1B0;
    line-height: 1.5rem;
    text-indent: 1rem;
    /* width: 100vw; */

}

.higher-header span{
    font-size: 14px;
}

header {
    background-color:  #00669F;
    color: #fff;
    font-size: 1.25rem;
    text-indent: 1rem;
    line-height: 3rem;
    position: sticky;
    top: 0;
    z-index: 1;
    
}

.user-header{
    background-color: #001D2D;
    display: flex;
    justify-content: flex-end;
    
}
.user-header .user-header-item {
    line-height: 2rem;
    margin-right: 20px;
    
}
.user-header .user-header-item a{
    color: #fff;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    
}

.newHero-form{
    position: fixed;
    right: 30px;
}

.newHero-form .button-form{
    background-color: #00669F;
    border: none;
    padding: 20px;
    border-radius: 50%;
}
.newHero-form .button-form .fa-plus{
    color: #fff;
    font-size: 2rem;
}

.box {
    /* border: solid red 1px; */
    height: 489.2px;
    margin: 20px 0;
    max-width: 60vw;
    background-color: #F3F3F3;
    
    
}

.box .banner{
    position: relative;
}

.box .banner img{
    border-radius: 10px 10px 0% 0%;
    width: 100%;
}

.box .banner .fa-heart{
    color:#CC2424;
    font-size: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.box div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    position: relative;
    
    
}

.box div:nth-of-type(2) figure{
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 90px;
    position: absolute;
    top:-50px;
    /* margin: 0 25% 0 25%; */
    width: 90px;
}

.box:nth-of-type(1) div:nth-of-type(2) figure{
    background-image: url('./../../img/superheroes/batman.jpg');
    
}
.box:nth-of-type(2) div:nth-of-type(2) figure{
    background-image: url('./../../img/superheroes/harley.jpg');
    
}

.box:nth-of-type(3) div:nth-of-type(2) figure{
    background-image: url('./../../img/superheroes/mujerMaravilla.jpg');
    
}

.box:nth-of-type(4) div:nth-of-type(2) figure{
    background-image: url('./../../img/superheroes/superman.jpg');
    
}

.box div:nth-of-type(2) h2{
    font-weight: 400;
    /* margin-top: 15%; */
    margin-bottom: 2.5%;
    text-transform: uppercase;
    
}

.box div:nth-of-type(2) p{
    font-size: .7rem;
    text-align: justify;
    margin: 0 20px 20px 20px;
}

.box div:nth-of-type(2) button{
    background-color: #00669F;
    border: 0;
    border-radius: 5px;
    color: #FFF9F9;
    height: 45px;
    margin-bottom: 20px;
    width: 120px;
}

footer{
    background-color: #00669F;
    color: #FFF9F9;
    font-size: 1.2rem;
    line-height: 3rem;
    position: sticky;
    text-align: center;
    bottom: 0;
}


/*------------------------- a partir de 481 px -------------------------*/

@media screen and (min-width: 702px){
    main{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    
    .box{
        max-width: 40vw;
        
    }

    .box .banner {
        height: 200px;
    }
    .box .banner img{
        height: 100%;
    }
    .box div:nth-of-type(2) p{
        font-size: 1.2rem;
        min-height: 98px;
    }
}


