@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.higher-header{
    background-color: #1CD1B0;
    font-size: 15px;
    height: 40px;
    padding: 10px;
}

.lower-header{
    align-items: center;
    background-color: #00669F;
    display: flex;
    height: 101px;

}
.lower-header span{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-left: 20px;
}

main{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 900px;
}

.box{
    border: 1px solid red;
    min-height: 88%;
    width: 28vw;
}

.box .banner{
    height: 40%;
    position: relative;

}

.box .banner img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    width: 100%;
}
.box .banner i{
    bottom: 75%;
    color: red;
    font-size: 2rem;
    left: 4%;
    position: absolute;
}

.box div:nth-of-type(2) {
    align-items: center;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    height: 60%;
    position: relative;

}
.box div:nth-of-type(2) img{
    border-radius: 50%;
    height: 40%;
    position: absolute;
    top: -19%;
    /* width: 35%; */
}

.box div:nth-of-type(2) h2{
    margin-top: 10vh;
    font-size: 2.5rem;
}

.box div:nth-of-type(2) p{
    font-size: 1.2rem;
    margin: 1vh 4vw 0;
    text-align: justify;

}
.box div:nth-of-type(2) button{
    background-color: #00669F;
    border: 0;
    color: #fff;
    font-size: 1.2rem;
    height: 80px;
    margin: 3.5vh 0 3.5vh 0;
    width: 30%;
}


footer {
    background-color: #00669F;
    color: #fff;
    font-size: 2.5rem;
    padding: 15px;
}