@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
}
.higher-header{
    background-color: #1CD1B0;
    font-size: 1rem;
    line-height: 3vh;
    padding: 10px;
}

header{
    align-items: center;
    background-color: #00669F;
    display: flex;
    height: 10vh;
    position: sticky;
    top: 0;
    

}
.lower-header span{
    font-size: 3rem;
    margin-left: 20px;
}

main{
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: space-around;
}

.box{
    background-color: #F3F3F3;
    /* border: 1px solid red; */
    height: 80%;
    width: 20vw;
}

.box .banner{
    height: 40%;
    position: relative;
    /* width: 20%; */

}

.box .banner img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    width: 100%;
}
.box .banner i{
    color: red;
    font-size: 2.5rem;
    right: 85%;
    position: absolute;
    top: 10%;
}

.box div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    height: 60%;
    align-items: center;
    padding:  10%;
    position: relative;

}
.box div:nth-of-type(2) img{
    border-radius: 50%;
    bottom: 86%;
    height: 35%;
    position: absolute;

}

.box div:nth-of-type(2) h2{
    font-size: 30px;
    font-weight: 400;
    margin: 15% 0 0 0;
}

.box div:nth-of-type(2) p{
    font-size: 16px;
    line-height: 18.75px;

}
.box div:nth-of-type(2) button{
    background-color: #00669F;
    border: 0;
    border-radius: 10px;
    color: #F3F3F3;
    height: 15%;
    justify-self: end;
    position: absolute;
    top: 74%;
    width: 35%;
}


footer {
    background-color: #00669F;
    padding: 16px;
}

footer span{
    color: #FFF9F9;
    font-size: 16px;
}