@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root{
  --principalOrange:#f0a83e;
  --mediaBrown: #3c2313;
  --grayMedia: #666666;
  --whiteBackground: #fbf9f6;
  --borderPaw: -.70px 0 #fff, 0 .70px #fff, .70px 0 #fff, 0 -.70px #fff;
  --borderPawOrange: -2.5px 0 var(--principalOrange), 0 2.5px var(--principalOrange), 2.5px 0 var(--principalOrange), 0 -2.5px var(--principalOrange);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header{
  position: sticky;
  top: 0;

}
.higher-header{
  display: none;
}


.lower-header {
  background-color: var(--principalOrange);
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 20px 0;
}

.lower-header .menu-header{
  display: none;
  
}

.lower-header .logo-container{
  margin-left: 15px;
}

.lower-header .fa-bars{
  margin-right: 15px;
  font-size: 1.8rem;  
}

.banner {
  align-items: center;
  background-image: url(./../../img/petshop/bowl-and-pet-daities-on-green-background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 409px;
  justify-content: center;
}

.banner .banner-welcome {
  /* margin-right: 1.5%; */
  text-align: center;
}

.banner .banner-welcome .banner-title {
  background-color: #fff;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 400;
  padding: 5px 10px;
}

.banner .banner-welcome .banner-subtitle{
  text-align: end;
  font-size: 16px;
  padding: 15px;
}

.banner .banner-welcome .banner-button{
  background-color: var(--principalOrange);
  border: 0;
  border-radius: 4px;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  margin-left: 50%;}
  
  .products {
    padding: 5vh;
  }
  
  .products .featured-products-description {
    align-items: center;
    display: flex;
    flex-direction: column;
    
  }
  
  .products .featured-products-description .fa-paw {
    color: var(--whiteBackground);
    font-size: 100px;
    text-shadow:var(--borderPawOrange)
  }
  
  .products .featured-products-description .featured-products-description-title {
    color: var(--mediaBrown);
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
  }
  
  .products .featured-products-description .featured-products-description-options{
    padding: 20px 0px 40px 0px;
  }
  
  .products .featured-products-description .featured-products-description-options .featured-products-description-options-list{
    color: var(--grayMedia);
    display: flex;
    font-size: 15px;
    list-style: none;
  }
  
  .products .featured-products-description .featured-products-description-options .featured-products-description-options-list span {
    margin: 0 10px 0;
  }
  
  .products .featured-products-description .featured-products-description-options .featured-products-description-options-list a {
    color: var(--grayMedia);
    text-decoration: none;
  }
  
  .products  .products-presentation {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .products .products-presentation .product-container {
    background-color: var(--whiteBackground);
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    padding-bottom: 2vh;
    text-align: center;
    width: 50vw;
  }
  
  .products .products-presentation .product-container .product-name{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .products .products-presentation .product-container .product-price {
    color: var(--principalOrange);
    font-weight: ;
  }

  .contact-forms {
    text-align: center;
    margin: 5vh 0; 
  }
  .contact-forms .contact-title {
    color: var(--mediaBrown);
    margin-bottom: 20px;
  }
  .contact-forms .container-inputs-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-forms .container-inputs-forms .input-forms {
    background-color: var(--mediaBrown);
    border: 0;
    border-radius: 15px;
    color: #fff;
    height: 40px;
    margin: 5px;
    padding: 15px;
    width: 340px;
  }
  
  .contact-forms .container-buttons-forms .button-forms {
    border: 0;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    height: 34px;
    margin: 0 2px;
    width: 45vw;
  }
  .contact-forms .container-buttons-forms  .reset-button-contact-forms {
    background-color: #8a8787;
  }
  .contact-forms .container-buttons-forms  .submit-button-contact-forms {
    background-color: var(--principalOrange);
  }
  
  .higher-footer {
    background-color: var(--principalOrange);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
  }
  
  .higher-footer .subscription-title-footer {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  
  .higher-footer .subscription-title-footer .fa-envelope {
    font-size: 25px;
  }
  
  .higher-footer .subscription-footer-section #email-box {
    border: 0ch;
    border-radius: 20px;
    color: #a0a0a0;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    width: 271px;
  }
  
  .higher-footer .subscription-footer-section #email-button {
    background-color: var(--mediaBrown);
    border: 0px;
    border-radius: 30px;
    color: #fff;
    padding: 10px 8px;
  }
  
  .middle-footer {
    background-color: var(--mediaBrown);
    padding: 20px 50px 20px;

  }
  
  .middle-footer-left{
    display: flex;
    align-items: center;
    flex-direction: column;
  } 
  
  .middle-footer-left  .footer-information{
    /*/////revisar aca/////*/
    display: flex;
    margin-bottom: 10px;
  }

  .middle-footer .middle-footer-left .footer-email-information{
    margin-bottom: 0;
  }
  
  .middle-footer .middle-footer-left .footer-information i {
    padding: 1px;
    background-color: #8a8787;
    border-radius: 50%;
    border: solid 2px #786960;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    width: 55px;
  }
  
  
  .middle-footer .middle-footer-left .footer-information .footer-information-item-description p {

    background-color: var(--mediaBrown);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: start;
    width: 180px;
  }
  .middle-footer .middle-footer-left .footer-information .footer-information-item-description span {
    color: #8a8787;
    font-size: 10px;
    font-weight: 700;
  }
  
  .middle-footer-right {
    margin: auto;
    width: 50%;
  }
  
  .lower-footer {
    background-color: #000;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
  }
  
  @media screen and ( min-width:700px ) {


    .products .products-presentation{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .products .products-presentation .product-container{
      /* border: 1PX SOLID red; */
      width: 307.6px;
    }
    .higher-footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .higher-footer .subscription-title-footer{
      display: flex;
      font-size: .9rem;
    }
    .higher-footer .subscription-title-footer span{
      align-self: center;
      margin-left: 5px;
    }
    
    
    .higher-footer .subscription-footer-section #email-box {
      font-size: .8rem;
      width: 35vw;
    }
    .higher-footer .subscription-footer-section #email-button {
      font-size: .7rem;
      width: 10vw;
    }
    .middle-footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .middle-footer .middle-footer-left{
      
      order: 0;
    }
    
    .middle-footer .middle-footer-left .footer-information{
      width: auto;
    }
    
    .middle-footer .middle-footer-right{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      order: 1;
      width: auto;
    }
  }
  
  @media screen and ( min-width: 769px ) {
    
    .higher-header {
      background-color: #000;
      color: #f3f3f3;
      display: flex;
      font-size: 10px;
      justify-content: space-between;
      padding: 1vh 0.5vw;
    }
    
    .higher-header .country-controller {
      display: flex;
    }
    .higher-header .country-controller li {
      margin-right: 1vw;
      list-style: none;
    }
    
    .lower-header .fa-bars{
      display: none;
    }
    
    .lower-header .menu-header {
      display: flex;
      align-items: center;
    }
    .lower-header .menu-header .menu-header-item a{
      color: #fff;
      margin-right: 1vw;
      text-decoration: none;
      
    }
    .lower-header .menu-header .menu-header-item .fa-paw{
      color: var(--principalOrange);
      margin-right: 3px;
      text-shadow: var(--borderPaw); 
      }
    
    .banner{
      justify-content: flex-end;
    }
    
    .banner .banner-welcome{
      margin-right: 20px;
      
    }
    .banner .banner-welcome .banner-subtitle{
      text-align: center;
    }
    .banner .banner-welcome .banner-button{
      margin: auto;
    }
  }
  
@media screen and ( min-width: 1028px ) {
  .products .products-presentation .product-container{
    width:450px;
  }

  .contact-forms .container-inputs-forms .input-forms{
    width: 22vw;
    margin: 10px;
  }

  .contact-forms .container-buttons-forms .button-forms{
    width: 10vw;
  }
}